/*body{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.module {
	max-height: 100vh;
	min-height: 100vh;
	height: 100%;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
	text-align: center;
}

section.floor1 {
	background-image: url(../img/footer_lodyas.png); 
	
}
section.floor1 img{
	border-radius: 100%;
	height: auto; 
    width: auto; 
    max-width: 150px; 
    max-height: 150px;
	margin: 50px auto;
}

.floor1 p{
	font-size: 1.6rem;
	color: white;
}
.divisory {
	margin: 0 auto;
	width: 30%;
	height: 10px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}*/