.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
     color: #fff;
}

.nav-tabs, .nav-pills {
    text-align:center;
    margin: 20px;


}

.nav-pills a {
  color: #000;
}

.jumbotron {
	height: auto;
	background-size: cover;
	background-image: url('../img/bckgd.jpg') ;
	background-repeat: no-repeat;
	background-position: top center;
	text-align: center;
  padding-top: 20vh;
	padding-bottom: 20vh;
}

.avatar img {
	border-radius: 50%;
	text-align: center;
  margin: auto;
}

.header {
	color: #fff;
}

.header .heading {
    font-size: 4em;
    margin-bottom: 10%;
    margin-top: 10%;
}

.header p {
    font-size: 1.5em;
    line-height: 1.5;
    font-weight: 200;
}

.projects {
    /*background-image: url('../img/pattern2.png');*/
    background-color: #96ceb4;
}


.projects .heading {
    font-size: 4em;
    text-align: center;
    color: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  margin-bottom: 15%;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.blur:hover .image {
  opacity: 0.1;
}

.blur:hover .middle {
  opacity: 1;
}

.middle p{
    text-align: center;
    color: white;
}
.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  text-align: center;
  margin-top: 5%;
}

.projects p {
    font-size: 1.2em;
}

.socialicon{
    cursor: pointer;
    width: 32px;
    height: 32px;
    margin: 10px;
    display: inline-block;
    vertical-align: middle;
}

.socialicon:hover{
    -webkit-transition: all .5s linear;
    transition: all .5s ease-in-out;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);

}

.footer {
    background-color: #424242;
    width: auto;
    text-align: center;
}

.footer p {
    margin: 1%;
    color: #fff;
}

.language {
    float: right;
    color: #fff;
    margin: 1%;
}

.download_cv {
  margin: 2%;
  background-color: #000;
  border-color: #000;
  font-weight: bold;
}