@font-face { font-family: 'Bebas Neue'; src: url('font/BebasNeue.otf'); } 

@font-face { font-family: 'Montserrat'; src: url('font/Montserrat/Montserrat-Regular.otf'); } 

@font-face { font-family: 'Cooper Hewitt'; src: url('font/cooper-hewitt/CooperHewitt-Medium.otf'); } 

@font-face { font-family: 'Cooper Hewitt Bold'; src: url('font/cooper-hewitt/CooperHewitt-Bold.otf'); } 

html,body{overflow-x: hidden;}

.center-block {
    float: none !important;
    text-align: center;
}


body {
  font-family: 'Bebas Neue', sans-serif;
  max-width: 100%;
    
}

h1, h2, h3 {
    font-family: 'Bebas Neue', sans-serif;
}

h4,h5 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Cooper Hewitt', sans-serif;
}

.navbar {
    margin:0;
    border-radius: 0;
}

.navbar a{
    font-family: 'Cooper Hewitt';
    font-size: 1.3em;
    
}

.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}


/* DEMO example styles for logo image */
.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  width: auto;
  padding: 7px 14px;
}


header {
  padding: 20px 0;
}

footer .row {
  display: flex;
  align-items: center;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: black;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('./images/almada.jpg');
  background-size: cover;
    background-attachment: fixed;
    background-position: center;
  color: #ffffff;
    min-height: 450px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
    position: relative;
  border: 0px;
    margin-bottom: 0;
}


#logodata {
    position: absolute;
    display: inline-block;
    right: 0px;
    top: 0px;
    max-height: 90%;
    max-width: 90%;
    height: auto;
    width: auto; /* ie8 */
}
#logotexto{
    position: absolute;
    bottom: 10%;
	text-align: center;
}

#imagemTexto {
  background-image: url(./images/cacilhas.png);
    background-attachment: scroll;
    margin-top: 2%;
    margin-bottom: 2%;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.col-md-6 {
  margin: 0 0 30px;
}

.btn.btn-primary {
    
  border-radius: 5px;
  border: 0px;
  color: #7bbd00;
  text-shadow: none;
  background-color: #ffffff;
    border-width: 55px;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #7bbd00;
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}

footer {
  font-size: 12px;
  padding: 20px 0;
    display: block;
}

footer p{
    display: inline-block;
    vertical-align: middle;
}

#ficon{
    cursor: pointer;
    float: right;
  width: 32px;
  height: 32px;
    margin: 10px;
    display: inline-block;
    vertical-align: middle;
}

#contacts img{
  max-width:100%; 
  max-height:100%;
  margin:auto;
  display:block;
}

#map{
}

#cartittle {
    text-align: center;
}

#cartext {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    text-align: center
}

.vertical-align {
  display: flex;
  flex-direction: row;
}

#youtube{
    background-image: none;
    background-color: black;
    
}

#youtube iframe{
    max-height: 500px;
    margin: auto;
}

#text{
    color: #FFF;
    width: 100%;
    text-align: center;
    font-size: 90;
}


#SForreta {
    background-color: #5abdce;
    width: 100%;
    color:#FFF;
    text-align: center;
    background: 
    /* top, transparent red */
    linear-gradient(
      rgba(90, 189, 206, 0.7), 
      rgba(90, 189, 206, 0.7)
    ),
    /* your image */
    url('./images/almada.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#Forreta {
    font-size: 20px;
}

#TittleF {
    font-size: 60px;
}

#ForretaExtra {
    text-align: justify;
}

#SBase {
    background-color: rgba(90, 189, 206, );
    width: 100%;
    text-align: center;
    color:#FFF;
    background: 
    /* top, transparent red */
    linear-gradient(
     rgba(123, 189, 0, 0.7), 
      rgba(123, 189, 0, 0.7)
    ),
    /* your image */
    url('./images/almada.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    
    
}

#Base {
    font-size: 20px;
}

#TittleB {
    font-size: 60px;
}

#SExtraBase {
    background-color: #fff;
}

#BaseExtra {
    text-align: justify;
}

#ExtraTittle {
    text-align: center;
}

#Preco {
    color: #5abdce;
}

#PrecoB {
    color: #7bbd00;
    left: 0;
}

#PPacote {
    margin: auto;
    font-size: 40px;
    border-bottom-color: #fff;
    border-bottom-style: solid;
    width: 6em;
    max-width: 600px;
}

#car {
 background-color: #bdde80;
 width: 100%;
height: 100%;
}

#origem {
}

#meio {
    color: #7bbd00;
}

input {
    display: none;
}
:checked + label{
  border: 3px solid rgba(81, 203, 238, 1);
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    
}
label:hover {
 cursor:pointer;
}

#calculatorF {

    background-color: #5abdce;
    width: inherit;
    text-align: center;
    color:#FFF;
    background: 
    /* top, transparent red */
    linear-gradient(
      rgba(90, 189, 206, 0.7), 
      rgba(90, 189, 206, 0.7)
    ),
    /* your image */
    url('./images/almada.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#calculatorT {
    font-family: 'Cooper Hewitt', sans-serif;
    font-size: 15px;
    margin-top: 8px;
}

#calculatorN {
    font-size: 400%;

}    

#calculatorB {
    background-color: #7bbd00;
    width: inherit;
    text-align: center;
    color:#FFF;
    background: 
    /* top, transparent red */
    linear-gradient(
     rgba(123, 189, 0, 0.7), 
      rgba(123, 189, 0, 0.7)
    ),
    /* your image */
    url('./images/almada.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#program1 {
    width: 100%;
    background-color: #e5f2cc;
}

#fig {
    padding: inherit;
    text-align: center;
}
#PD p{
    text-align: justify;
}

#PD  {
    width: 100%;
}

#programa {
    width: 100%;
}

#PD4{
    text-align: center;
    color: #FFF;
    background-color: #262626;
    
}

#PD4 h3 {
    font-family: 'Cooper Hewitt'; sans serif;
}
#navpro .col-sm-2{
    text-align: center;
    align-content: center;
}

#navpro .button {
    font-size: 28px;
    text-align: center;
    display: block;
    width: 100%;
    background-color: #FFF;
    border: 2px solid #5abdce;
    border-radius: 3px;
    color: #262626;
    transition-duration: 0.4s;
 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#navpro .button:hover {
    background-color: #5abdce;
    color: #FFF;
    box-shadow: 0 8px 16px 0 rgba (0,0,0,0.2), 0 6px 20px 0 rgba (0,0,0,0.19);
}

#co-organizador {
    text-align: center;
}

#programacao {
    background-color: #0079a3;
    color: #FFF;
}

#programacao1 {
    background-color: #00acc5;
    color: #FFF;
}

#GN {
    background-color: #000;
    width: 100%;
    color: #fff;
}

#pudim {
    background-image: url(images/program/bggn.png);
    background-size: cover;
}

#cartaz {
    background-image: url(images/program/green_night_cartaz2.png);
    background-size:cover;
}

#blue {
    color: #5abdce;
}

#green {
    color: #7bbd00;
    text-align: right;
}

#Pindex {
     box-shadow: 0 2px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
     background-color;
    width: 100
}

.btn-circle.btn-xl {
  width: 100px;
  height: 100px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 50px;
  background-color: #5abdce;
    color: #FFF;
    box-shadow: 0 8px 16px 0 rgba (0,0,0,0.2), 0 6px 20px 0 rgba (0,0,0,0.19);
}

.btn-circle.btn-xl:hover {
  width: 100px;
  height: 100px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 50px;
     background-color: #7bbd00;
    color: #FFF;
    box-shadow: 0 8px 16px 0 rgba (0,0,0,0.2), 0 6px 20px 0 rgba (0,0,0,0.19);
}

#GN .button {
  display: inline-block;
  border-radius: 4px;
  background-color: none;
  border: 4px solid #7bbd00;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  width: 200px;
  transition: 0.5s;
  cursor: pointer;
  margin: 5px;
}

#GN .button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
#GN .button span:before {
  content: '«';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.5s;
}

#GN .button:hover span {
  padding-left: 25px;
}

#GN .button:hover span:before {
  opacity: 1;
  left: 0;
}

#Pindex {
    text-align: center;
    color: #26568c;
}

#patrocinadores{
    width: 100%;
    float: none;
    display: inline-block;
    vertical-align: middle;
    margin: auto;
}

#TO {
   width: 100%; 
   background-color: #5abdce;
   color: white;
   text-align: center;
}

#TT {
    width: 100%;
    background-color: #5abdce;
    color: white;
    text-align: center;
}

#TTI {
    background-color: #5abdce;
    color: #5abdce;
    text-align: center;
}

#Or .button {
  display: inline-block;
  border-radius: 4px;
  background-color: none;
  border: 4px solid #5abdce;
  color: #5abdce;
  text-align: center;
  font-size: 20px;
  width: 200px;
  transition: 0.5s;
  cursor: pointer;
  margin: 5px;
}

#Or .button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
#Or .button span:before {
  content: '«';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.5s;
}

#Or .button:hover span {
  padding-left: 25px;
}

#Or .button:hover span:before {
  opacity: 1;
  left: 0;